:host ::ng-deep .logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
}

:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
    display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
    display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
}

:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
}

:host ::ng-deep .trigger:hover {
    color: #108ee9;
}

.app-header{
    background: #fff;
    padding:0;
    height: 50px;
    line-height:50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

.nz-footer{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #edf1f2;
    margin-left: 200px;
    right: 0;
    border-top:1px solid #dee5e7;
}

.custom-select{
    height: 34px;
    border:1px solid #cfdadd;
    color: #555;
    outline: none;
}