<!--
<section class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <i class="fa fa-reorder"></i>
                main
            </h5>
        </div>
        <div class="panel-body">
            <input [(ngModel)]="title">
            <p *ngFor="let item of data">{{item}}</p>
            &lt;!&ndash;<form class="example-form" role="form">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Email" [formControl]="emailFormControl">
                    <md-error *ngIf="emailFormControl.hasError('pattern')">
                        Please enter a valid email address
                    </md-error>
                    <md-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </md-error>
                </md-input-container>
            </form>&ndash;&gt;
        </div>
        <div class="panel-footer">
            <pagination [paginationMessage]="paginationMessage" [currentTimestamp]="paginationMessage.currentTimestamp" (loadData)="loadData($event)"></pagination>
        </div>
    </div>
</section>-->
<h3>main!!!</h3>
