<div class="modal fade" data-show="false" data-backdrop="static" effect="zoom" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal" role="form" [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">编辑</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <ng-container *ngFor="let field of dataFields">
                                <ng-container *ngIf="field.edit">
                                    <ng-container [ngSwitch]="field.inputType">
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 edit-input" *ngSwitchCase="'text'">
                                            <div class="form-group">
                                                <label [for]="'id_'+field.fieldName" class="col-sm-3 col-md-3 col-xs-3 control-label">{{field.name}}</label>
                                                <div class="col-sm-8 col-md-8 col-xs-8">
                                                    <input type="text" [id]="'id'+field.fieldName" [name]="field.fieldName" [placeholder]="field.placeholder || ''" class="form-control" [ngClass]="{'warning-border':field.required && !editForm.value[field.fieldName]}" [formControl]="editForm.controls[field.fieldName]">
                                                    <span *ngFor="let error of field.validators" class="form-error">
                                                        <strong *ngIf="editForm.hasError(error.name,field.fieldName) && error.name!='required'">{{error.description}}</strong>
                                                    </span>
                                                    <span align="start" *ngIf="field.hint"><strong>{{field.hint}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 edit-input" *ngSwitchCase="'number'">
                                            <div class="form-group">
                                                <label [for]="'id_'+field.fieldName" class="col-sm-3 col-md-3 col-xs-3 control-label">{{field.name}}</label>
                                                <div class="col-sm-8 col-md-8 col-xs-8">
                                                    <input type="number" [id]="'id'+field.fieldName" [name]="field.fieldName" [placeholder]="field.placeholder || ''" class="form-control" [ngClass]="{'warning-border':field.required && !editForm.value[field.fieldName]}" [formControl]="editForm.controls[field.fieldName]">
                                                    <span *ngFor="let error of field.validators" class="form-error">
                                                        <strong *ngIf="editForm.hasError(error.name,field.fieldName) && error.name!='required'">{{error.description}}</strong>
                                                    </span>
                                                    <span align="start" *ngIf="field.hint"><strong>{{field.hint}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 edit-input" *ngSwitchCase="'textarea'">
                                            <div class="form-group">
                                                <label [for]="'id_'+field.fieldName" class="col-sm-3 col-md-3 col-xs-3 control-label">{{field.name}}</label>
                                                <div class="col-sm-8 col-md-8 col-xs-8">
                                                    <textarea [id]="'id'+field.fieldName" [name]="field.fieldName" [placeholder]="field.placeholder || ''" class="form-control" [ngClass]="{'warning-border':field.required && !editForm.value[field.fieldName]}" [formControl]="editForm.controls[field.fieldName]"></textarea>
                                                    <span *ngFor="let error of field.validators" class="form-error">
                                                        <strong *ngIf="editForm.hasError(error.name,field.fieldName) && error.name!='required'">{{error.description}}</strong>
                                                    </span>
                                                    <span align="start" *ngIf="field.hint"><strong>{{field.hint}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 edit-input" *ngSwitchCase="'password'">
                                            <div class="form-group">
                                                <label [for]="'id_'+field.fieldName" class="col-sm-3 col-md-3 col-xs-3 control-label">{{field.name}}</label>
                                                <div class="col-sm-8 col-md-8 col-xs-8">
                                                    <input type="password" [id]="'id'+field.fieldName" [name]="field.fieldName" [placeholder]="field.placeholder || ''" class="form-control" [ngClass]="{'warning-border':field.required && !editForm.value[field.fieldName]}" [formControl]="editForm.controls[field.fieldName]">
                                                    <span *ngFor="let error of field.validators" class="form-error">
                                                        <strong *ngIf="editForm.hasError(error.name,field.fieldName) && error.name!='required'">{{error.description}}</strong>
                                                    </span>
                                                    <span align="start" *ngIf="field.hint"><strong>{{field.hint}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 edit-input" *ngSwitchCase="'select'">
                                            <div class="form-group">
                                                <label [for]="'id_'+field.fieldName" class="col-sm-3 col-md-3 col-xs-3 control-label">{{field.name}}</label>
                                                <div class="col-sm-8 col-md-8 col-xs-8">
                                                    <ng-select [multiple]="field.multiple"
                                                               [allowClear]="true"
                                                               [items]="selectSources[field.source]"
                                                               [placeholder]="field.placeholder || ''"
                                                               (selected)="uiSelected($event,editForm.controls[field.fieldName])"
                                                               [formControl]="editForm.controls[field.fieldName]"
                                                               [id]="'id_'+field.fieldName" [name]="field.fieldName">
                                                    </ng-select>
                                                    <span *ngFor="let error of field.validators" class="form-error">
                                                        <strong *ngIf="editForm.hasError(error.name,field.fieldName) && error.name!='required'">{{error.description}}</strong>
                                                    </span>
                                                    <span align="start" *ngIf="field.hint" style="display: block"><strong>{{field.hint}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 edit-input" *ngSwitchCase="'date'">
                                            <div class="form-group">
                                                <label [for]="'id_'+field.fieldName" class="col-sm-3 col-md-3 col-xs-3 control-label">{{field.name}}</label>
                                                <div class="col-sm-8 col-md-8 col-xs-8">
                                                    <div class="input-group">
                                                        <span class="input-group-addon add-on">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                        <input datepicker [id]="'id_'+field.fieldName" [name]="field.fieldName" [placeholder]="field.placeholder || ''" class="form-control input-append date form_datetime"
                                                               [ngClass]="{'warning-border':field.required && !editForm.value[field.fieldName]}"
                                                               [dateFormat]="field.format || ''" [minView]="field.minView || ''"
                                                               [dateModel]="editForm.controls[field.fieldName]"
                                                               [formControl]="editForm.controls[field.fieldName]">
                                                    </div>
                                                    <span *ngFor="let error of field.validators" class="form-error">
                                                        <strong *ngIf="editForm.hasError(error.name,field.fieldName) && error.name!='required'">{{error.description}}</strong>
                                                    </span>
                                                    <span align="start" *ngIf="field.hint"><strong>{{field.hint}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 edit-input" *ngSwitchCase="'switch'">
                                            <div class="form-group">
                                                <label [for]="'id_'+field.fieldName" class="col-sm-3 col-md-3 col-xs-3 control-label">{{field.name}}</label>
                                                <div class="col-sm-8 col-md-8 col-xs-8">
                                                    <ui-switch [formControl]="editForm.controls[field.fieldName]"></ui-switch>
                                                    <span *ngFor="let error of field.validators" class="form-error">
                                                        <strong *ngIf="editForm.hasError(error.name,field.fieldName)">{{error.description}}</strong>
                                                    </span>
                                                    <span align="start" *ngIf="field.hint" style="display: block"><strong>{{field.hint}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
                        </span>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>