<div class="mySelectBox">
    <div class="openBtn">
        <button nz-button [nzType]="'default'" (click)="openbindclick($event)">
          <i class="anticon anticon-eye"></i>
        </button>
    </div>
    <div class="selectPanel" tabindex="1" id="selectPanel" (click)="selectField($event)" *ngIf="showPanel">
        <ng-container *ngFor="let item of datafields">
            <ng-container *ngIf="item.use">
                <dl (click)="selectField($event,item.fieldName)" class="field_dl">
                    <dd style="padding-top:10px">
                        <span class="myCheckBox" [ngClass]="{'selectSpan':fieldshow[item.fieldName]}">✔</span>
                    </dd>
                    <dt>
                        <label [for]="item.fieldName">{{item.name}}</label>
                    </dt>
                </dl>
            </ng-container>
        </ng-container>
    </div>
</div>
