<ng-container>
    <div class="pull-left">
        <span>一共{{paginationMessage.totalRecords}}条数据，分为{{paginationMessage.totalPages }}页，当前{{paginationMessage.currentPage}}页。</span>
        <span style="display: inline-block;width: 60px;">
            <select class="custom-select" style="width: 60px;" (change)="everyPageSize()" [(ngModel)]="paginationMessage.page_size">
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
            </select>
        </span>
    </div>
    <div class="pull-right">
        <span #pagination></span>
    </div>
    <div style="clear: both"></div>
</ng-container>