<section class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <i class="fa fa-reorder"></i>
                home!!!
            </h5>
        </div>
        <div class="panel-body" style="padding-top: 0">
            <div class="row" style="margin-bottom: 15px">
                <form class="form-inline top-handle" style="margin:0">
                    <div class="input-group">
                        <input type="text" class="form-control text-search" id="text-search" placeholder="名称">
                        <span class="input-group-btn">
                            <button class="btn btn-default" (click)="quickSearch()">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!--  <ng-select model="is_test_account" source="constants.Site" placeholder="站点"></ng-select>-->
                    <div class="form-group">
                        <field-check-box [datafields]="dataFields" [fieldshow]="fieldShow"></field-check-box>
                    </div>
                    <div class="form-group pull-right">
                        <button class="btn btn-primary" (click)="create()">
                            <i class="fa fa-plus-circle"></i>新增
                        </button>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <ng-container *ngFor="let th of dataFields">
                        <ng-container *ngIf="th.use && fieldShow[th.fieldName]">
                            <th >
                                {{th.name}}
                            </th>
                        </ng-container>
                    </ng-container>
                    <th id="handle">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="objectList.length == 0">
                    <td colspan="30">
                        <div class="alert alert-info">
                            <h4><i class="icon fa fa-warning"></i>没有数据</h4>
                        </div>
                    </td>
                </tr>
                <ng-container *ngFor="let obj of objectList;trackBy:trackByFn">
                    <tr>
                        <ng-container *ngFor="let item of dataFields">
                            <ng-container *ngIf="item.use && fieldShow[item.fieldName]" init [init]="renderData" [params]="[item,obj]" #results="andy">
                                <td [innerHtml]="results.newData | safeHtml">
                                </td>
                            </ng-container>
                        </ng-container>
                        <td class="handle">
                            <button class="btn btn-primary btn-xs" (click)="edit()">编辑</button>
                            <button class="btn btn-primary btn-xs" (click)="toggleDetail(obj)">详情</button>
                        </td>
                    </tr>
                    <tr *ngIf="obj.showDetail">
                        <td colspan="4">
                            <span>hello</span>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
            <h1 beauty [bgc]="'yellow'">你好</h1>
        </div>
        <div class="panel-footer">
            <pagination [paginationMessage]="paginationMessage" [currentTimestamp]="paginationMessage.currentTimestamp" (loadData)="loadData($event)"></pagination>
        </div>
    </div>
</section>
<div class="modal fade" data-show="false" data-backdrop="static" effect="zoom" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="example-form" role="form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
                            <ng-container *ngFor="let field of dataFields">
                                <ng-container *ngIf="field.edit">
                                    <ng-container [ngSwitch]="field.inputType">
                                        <div class="col-sm-6 col-md-6 edit-input" *ngSwitchCase="'text'">
                                            <md-input-container class="example-full-width" style="width: 100%;">
                                                <input mdInput [placeholder]="field.name" type="text" [name]="field.fieldName" [formControl]="myForm.controls[field.fieldName]">
                                                <md-error *ngFor="let error of field.validators">
                                                    <strong *ngIf="myForm.hasError(error.name,field.fieldName)">{{error.description}}</strong>
                                                </md-error>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-6 col-md-6 edit-input" *ngSwitchCase="'password'">
                                            <md-input-container class="example-full-width" style="width: 100%;">
                                                <input mdInput [placeholder]="field.name" type="password" [name]="field.fieldName" [formControl]="myForm.controls[field.fieldName]">
                                                <md-error *ngFor="let error of field.validators">
                                                    <strong *ngIf="myForm.hasError(error.name,field.fieldName)">{{error.description}}</strong>
                                                </md-error>
                                            </md-input-container>
                                        </div>
                                        <div class="col-sm-6 col-md-6 edit-input" *ngSwitchCase="'select'">
                                            <ng-container>
                                                <md-select [placeholder]="field.name" [formControl]="myForm.controls[field.fieldName]">
                                                    <md-option *ngFor="let item of field.source" [value]="item.code">{{item.name}}</md-option>
                                                </md-select>
                                                <md-error *ngFor="let error of field.validators">
                                                    <strong *ngIf="myForm.hasError(error.name,field.fieldName)">{{error.description}}</strong>
                                                </md-error>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <span class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
                            </span>
                            <div style="clear: both;"></div>
                        </form>
                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
</div>