<nz-card>
    <ng-template #title>
        <nz-breadcrumb>
            <nz-breadcrumb-item>首页</nz-breadcrumb-item>
            <nz-breadcrumb-item>home</nz-breadcrumb-item>
        </nz-breadcrumb>
    </ng-template>
    <ng-template #body>
        <div class="row" style="margin:-24px;margin-bottom: 0;padding: 15px;">
            <form nz-form [nzLayout]="'inline'">
                <daterange [dateRangeConfig]="dateRangeConfig" [dateRange]="loadObjectParams" (dateChangeFunc)="loadFirstPage()"></daterange>
                <div nz-form-item>
                    <div nz-form-control>
                        <nz-input [nzPlaceHolder]="'搜索'" [nzSize]="'large'">
                            <ng-template #prefix>
                                <i class="anticon anticon-search"></i>
                            </ng-template>
                        </nz-input>
                    </div>
                </div>
                <div nz-form-item>
                    <div nz-form-control>
                        <button nz-button [nzType]="'primary'" (click)="quickSearch()">
                            <span>Search</span>
                        </button>
                    </div>
                </div>
                <div nz-form-item style="vertical-align: text-top">
                    <field-check-box [datafields]="dataFields" [fieldshow]="fieldShow"></field-check-box>
                </div>
                <div nz-form-item class="pull-right">
                    <div nz-form-control>
                        <button nz-button [nzType]="'primary'" (click)="createTable()">
                            <span>新增</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <nz-table #nzTable [nzIsPagination]="false" [nzShowFooter]="true" [nzSize]="'middle'" [nzBordered]="true" [nzCustomNoResult]="true">
            <thead nz-thead>
            <tr>
                <ng-container *ngFor="let th of dataFields">
                    <ng-container *ngIf="th.use && fieldShow[th.fieldName]">
                        <th nz-th>
                            {{th.name}}
                        </th>
                    </ng-container>
                </ng-container>
                <th nz-th id="handle">操作</th>
            </tr>
            </thead>
            <tbody nz-tbody>
                <tr *ngIf="objectList && objectList.length === 0" nz-tbody-tr>
                    <td nz-td colspan="30">
                        <div class="alert alert-info">
                            <h4><i class="icon fa fa-warning"></i>没有数据</h4>
                        </div>
                    </td>
                </tr>
                <ng-container *ngFor="let obj of objectList;trackBy:trackByFn">
                    <tr nz-tbody-tr>
                        <ng-container *ngFor="let item of dataFields">
                            <ng-container *ngIf="item.use && fieldShow[item.fieldName]" init [init]="renderData" [params]="[item,obj]" #results="andy">
                                <td nz-td [innerHtml]="results.newData | safeHtml">
                                </td>
                            </ng-container>
                        </ng-container>
                        <td class="handle" nz-td>
                            <button nz-button [nzType]="'primary'" (click)="edit(obj)">编辑</button>
                            <button nz-button [nzType]="'default'" (click)="toggleDetail(obj)">详情</button>
                        </td>
                    </tr>
                    <tr *ngIf="obj.showDetail" nz-tbody-tr>
                        <td colspan="4" nz-td>
                            <span>hello1</span>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
            <span nz-table-footer>
                <pagination [paginationMessage]="paginationMessage" [currentTimestamp]="paginationMessage.currentTimestamp" (loadData)="loadObjects($event)"></pagination>
            </span>
        </nz-table>
    </ng-template>
</nz-card>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<edit-modal [editForm]="tableForm" [currentTimestamp]="tableForm.currentTimestamp" *ngIf="tableForm" [dataFields]="dataFields" [selectSources]="selectSources" (saveForm)="saveForm($event)"></edit-modal>
